@import url('http://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align:  center;
}

.leaflet-container {
  height: 960px;
  width: 100%;
  position: absolute;
  top: 104px;
  z-Index: 1;
  left: 23px;
  right: 23px;
}